{% extends "base.html" %}

{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/home/styles.css" %}">
{% endblock extrahead %}

{% block content %}
<form class="form-content">
  {% csrf_token %}
  <div class="container main-content center d-col gap-2">
    <input type="file" accept=".pdf">
    <textarea id="response-area" class="response-area expandable" name="enter-prompt" rows="4" cols="50" disabled></textarea>
    <button class="btn btn-primary">Resumir</button>
  </div>
</form>

<script>
  $(() => {
    const formContent = $('.form-content');
    const responseArea = $('#response-area');
    const fileInput = $('input[type=file]');
  
  
    const handleError = (message, error = null) => {
      console.error(message, error);
      alert(message);
      stopLoader();
    };
  
    formContent.on('submit', async (e) => {
      e.preventDefault();
  
      if (!fileInput[0].files.length) {
        return handleError('Nenhum arquivo selecionado.');
      }
  
      const file = fileInput[0].files[0];
      const formData = new FormData();
      formData.append('to_resume_file', file);
  
      const url = "{% url 'core:resume.generate' %}";
  
      try {
        startLoader();
  
        const response = await fetch(url, {
          method: 'POST',
          headers: {
            'X-CSRFToken': getCsrfToken()
          },
          body: formData
        });
  
        if (!response.ok) {
          throw new Error(`Erro ao enviar arquivo: ${response.statusText}`);
        }
  
        const responseJson = await response.json();
  
        if (responseJson.data?.trim()) {
          responseArea.text(responseJson.data).addClass('filled');
        } else {
          responseArea.text('Resposta vazia.').removeClass('filled');
        }
  
      } catch (error) {
        handleError('Erro no upload do arquivo. Por favor, tente novamente.', error);
      } finally {
        stopLoader();
      }
    });
  });
  
</script>
{% endblock content %}
